<footer class="footer">
  <small>
    The <a href="#"> Twitter clone</a> Created by <a href="http://twitter.com/ridwansameer">Ridwan Sameer</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", '#' %></li>
    </ul>
  </nav>
</footer>